streamlit==1.41.1
langchain_google_vertexai[anthropic,all]
google-cloud-aiplatform
vertexai 

#transformers==4.48.2
#tensorflow==2.9.0
#keras==2.9.0
#protobuf==3.20.3
#requests==2.32.3
#numpy<2.0.0

#streamlit==1.41.1
#transformers==4.48.2
#tensorflow==2.9.0
#keras==2.11.0
#protobuf==3.20.3
#requests==2.32.3

#streamlit==1.41.1
#transformers==4.48.2
#tensorflow==2.10.0
#keras==2.10.0
#protobuf==3.20.3
#requests==2.32.3


#streamlit==1.41.1
#transformers==4.48.2
#requests==2.32.3
#huggingface_hub==0.28.0
#tensorflow==2.18.0
#tf-keras==2.14.1

#tensorflow==2.11.0
#keras==2.11.0


#Flask==2.3.3
#requests==2.31.0
#debugpy # Required for debugging.
